@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,200);
body {
  background-image: url('/img/Yip!Yeah!_press1.jpeg');
  background-position: bottom;
}

/*Navigation*/
nav {
  z-index: 11;
}

.bg {
  background-image: url('/img/yipyeahfeet.jpeg');
  background-size: contain;
  display: block;
  height: 100%;
  width: 110%;
  left: -10px;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 1;
  transition: all 1000ms;
  background-size: 100%;
  background-position: top;
}

.cover:hover .bg {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  background-size: 110%;
  background-position: center;
  opacity: 0.5;
}

.title {
  font-family: Raleway;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 11;
  top: 40%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  color: #fff;
  opacity: 1;
  text-align: center;
  transition: all 1000ms;
}

/*.cover:hover .title {

  opacity: 0.1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}*/


.title .text {
  font-size: 35px;
  font-weight: 200;
  margin-top: 35px;
}

.title .desc {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
}

/*.logo {
  background: url(/img/y-shaped-intersection.svg);
  width: 180px;
  height: 180px;
  left: 50%;
  position: fixed;
  margin-left: -95px;
  margin-top: 1px;
  background-size: 180px;
  opacity: 1;
  z-index: 4;
}*/

.logo:hover {
  opacity: 0.1;
}


/*social buttons*/
/*.social {
  position:fixed;
  bottom:15px;
  z-index:10;
  text-align: center;
  width:100%;
}

.social a {
  font-family: Raleway;
  color:white;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
  filter: blur(2px);
  transition: all 200ms;
}

.social a:hover {
  font-size:19px;
}*/

.upcoming {
  font-family: Raleway;
  color: white;
  font-size: 20px;
  font-weight: 200;
  display: flex;
  left: 50%;
  margin-left: -35px;
  margin-top: 0px;
  z-index: 3;
}

.icon-cred {
  font-family: Raleway;
  font-size: 10px;
  position:fixed;
  bottom:15px;
  z-index:1;
  text-align: center;
  width:100%;
  font-family: Raleway;
  color: white;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
  filter: blur(0px);
  transition: all 200ms;
}

.show_link {
  font-family: Raleway;
  color: white;
  font-size: 20px;
  z-index: 3;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
  color: #fbad50;
}

.fa-youtube {
  color: #ff0000;
}


/*p5*/

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /*opacity: .5;*/
}
